@media screen and (max-width: 960px) {

  body {
    min-width: auto;
  }

  #main-container, #sidebar {
    display: none;
  }

  .mobile-content {
    display: block;
    padding: 40px 5%;
  }

  .mobile-content img {
    max-width: 100%;
  }

}
